html {
    overflow: hidden;
}

#video_box {
    position: absolute;
    z-index: 9;
}

#video_overlays {
    position: absolute;
    width: 100px;
    min-height: 100px;
    background-size: cover;
    z-index: 10;
    bottom: 47.5%;
    left: 47.5%;
    text-align: center;
}

#video {
    width: 1920px;
}

.tm-container-fluid {
    position: relative;
}