#video_box {
    position: relative;
}

#video_overlays {
    position: absolute;
    width: 100px;
    min-height: 100px;
    background-image: url(images/wales.jpg);
    background-size: cover;
    z-index: 300000;
    bottom: 47.5%;
    left: 47.5%;
    text-align: center;
}

#video {
    width: 1920px;
}